body{
    background-color:  #93BFB3;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 2fr 1fr;
    /* border: 2px solid red; */
    height: 90vh;
    width: 90vw;

} 


.gameboard{
    /* border: 2px dashed black; */
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row: 2 / span 1 ;
    display: grid;
    /* grid-template-columns: 1fr 10fr 1fr 10fr 1fr;
    grid-template-rows: 1fr 5fr 1fr ; */
    
    
}

.gameboard img {
    padding-left: 120px;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start:  1;
    grid-row-end: 3;
    height: 60vh;
    width: 60vw;
    position: relative;
    
}

.scoreboard{
    /* border: 2px dashed yellow; */
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
    text-align: center;
    
    
    

}

.sidebet-menu {
    /* border: 2px dashed black; */
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 3;
    
}



.dice1{
    /* border: 2px solid blue; */
    /* grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2; */
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    height: 100px;
    width: 100px;
    top: 450px;
    right: 300px;

}

.dice2{
    /* border: 2px solid blue; */
    /* grid-column-start: 4;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 2; */
    position: absolute;
    top: 550px;
    right: 300px;
    height: 100px;
    width: 100px;
    /* background-size: contain;
    background-repeat: no-repeat; */
}

.wager-menu{
    /* border: 2px dashed red; */
    grid-column-start: 2;
    grid-column-end: 2;
    /* grid-row-start: 3;
    grid-row-end: 3; */
    display: flex;
    justify-content: center;

}

.wager-menu img {
    height: 100px;
    width: 100px;
}

.wager-menu h3{
    display: inline-block;
    color: 
}

.field {
    width: 100%;
}

.sidebet-chips {
    width: 100%;
    display: flex;
    justify-content: center;
}
.sidebet-chips img {
    height: 35px;
    width:  35px;
}

.any7 {
    width: 100%;
}

.anyCraps {
    width: 100%;
}

.hardway {
    width: 100%;
}

.placebet-chips{
    width: 100%;
    display: flex;
    justify-content: center;

}
.placebet-chips img {
    height: 60px;
    width:  60px;
}

.placebet-icons{
    width: 100%;
    display: flex;
    justify-content: space-around;

}
.placebet-icons img {
    .placebet-chips{
        width: 100%;
        display: flex;
        justify-content: center;
    
    }
   
}
.placebet-ind {
    display: flex;
    justify-content: space-around;

}
.placebet-ind h4 {
    display: inline-block;
    margin-left: 8px;
    margin-right: 8px;

}

.field-amount {
    text-align: center;
    font-size: 20px;
    
}

.any7-amount {
    text-align: center;
    font-size: 20px;
    
}

.anyCrap-amount {
    text-align: center;
    font-size: 20px;
    
}

.sidebet-menu h2{
    text-align: center;
    font-size: 40px;
    color: #025940
}

.sidebet-menu h3{
    text-align: center;
    font-size: 30px;
    color:  #025940
}

.sidebet-menu h4{
    text-align: center;
    font-size: 20px;
    color: #025940;
}

.sidebet-menu hr {
    color: white;
    font-weight: bolder;
    font-size: 30px;
    
}
.bankroll {
    font-size: 40px;
    color: 
    #025940
}

.messages {
    color: #D91111;
}

.reset-image {
    height: 150px;
    width: 150px;
}

.casino {
    height: 440px;
    width: 520px;
    position: relative;
    top: 60px;
}

.point {
    color: #F2E307
}

